html{
	background: black;
	border: 0;
}

#demo{
	color: blue;
}
#wins{
	color: blue;
	width: max-width;
	text-align: left;
}

#losses{
	color: red;
	width: max-width;
	text-align: left;
}

*{
	box-sizing: border-box;	
	/*margin: 0 auto;*/
	font-size: 30px;
}


header{
	
	background: black;
	color: orange;
	text-align: center;
	font-weight: 700;
	padding: 2%;
	
	font-size: 30px;
	border-bottom: 5px solid blue;
	text-shadow: 2px 3px slategrey;

}
#pic{
	height: 250px;
	width: 250px;
	/*float: left;*/
	align-content: left;
}

#row1 {
background: black;
}

#mainDiv{
/*padding-top: 5%;*/
color: red;
font-weight: 700;
font-size: 200%;
text-align: center;
font-size: 120px;
float: right;
width: 80%;
}

#smallDiv {
	float: left;
	width: 20%;
}

#footDiv{
background: black;
border: 0;
border-top: 5px solid blue;
color: blue;
font-weight: 700;
font-size: 18px;
text-align: center;
/*padding: 5%;*/
position: fixed;
bottom: 0;
margin: 0;
margin-right: 0;
font-size: 24px;
width: 100%;
margin-top: 20px;
}

p{
	font-size: 10px;
	color: red;
}

#done{
	font-size: 18px;
	text-decoration: line-through;
	color: lightgrey;
}

#notdone {
	font-size: 16px;
	text-decoration: underline;
	color: black;
}

#pWin {
	height: 5%;
	font-size: 24px;
}
img {
	height: 10%;
	width: 10%;
}

.bigDiv {
padding: 3%;

}

div {
	height: 10%;
}


@media only screen and (max-width: 760px) {



}



@media only screen and (max-width: 640px) {



#start {
	margin: 5%;
}


}
